/* ========================
   MOBILE FIRST (DEFAULT)
   ======================== */

body {
  background-color: #f4f7fb;
  color: #222;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0 1rem;
}

h1{
text-align: center;
font-size: 2.5rem;
font-weight: 700;
color: #0a2540;
letter-spacing: 2px;
margin-top: 2rem;
}

nav {
  position: sticky;
  top: 0;
  background-color: #0a2540; 
  padding: 0.8rem 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

section {
  margin: 2.5rem 0;
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  color: #1f4fd8;
  margin-bottom: 1rem;
}

/* Experience Flexbox */
.job {
  background-color: #eef2ff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.job-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.job-title {
  color: #1f4fd8;
}

.job-date {
  color: #555;
}

/* Connect Flexbox */
#connect ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

#connect a {
  padding: 0.6rem 1.2rem;
  background-color: #1f4fd8;
  color: white;
  text-decoration: none;
  border-radius: 1.5rem;
}

#connect a:hover {
  background-color:#163bb3;
}

/* ========================
   TABLET STYLES
   ======================== */

   @media (min-width: 768px) {

    /* Headings */
    h2 {
      font-size: 1.8rem;
      color: #123a8c;
    }

    /* Sections */
    section {
      padding: 2rem;
      background-color: #f8faff;
    }

    /* Name */
    h1 {
      font-size: 3.2rem;
      font-style: italic;
    }

    /* Experience becomes gird */
    #experience {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
    }

   }

   /* ========================
      DESKTOP STYLES
   ======================== */

   @media (min-width: 1024px) {

    /* Headings */
    h2 {
      font-size: 2rem;
      color: #0a2540;
    }

    /* Sections */
    section {
      max-width: 1000px;
      margin: 60px auto;
      background-color: white;
    }

    /* Name */
    h1 {
      font-size: 3.8rem;
      letter-spacing: 4px;
    }

    /* Connect becomes a grid */
    #connect ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

   }